services:
  vulnerable-app:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - NODE_ENV=production
    networks:
      vulnet:
        ipv4_address: 172.16.238.129

networks:
  vulnet:
    driver: bridge
    ipam:
      config:
        - subnet: 172.16.238.0/24
          gateway: 172.16.238.1

